#output {
  flex: 1;
  background: var(--bg-output);
  color: var(--text-output);
  padding: 20px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: 'Pixeloid Mono', 'Courier New', monospace;
  font-size: 18px;
}

#status-bar {
  height: 30px;
  background: var(--bg-status-bar);
  color: var(--text-status);
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  border-top: 3px solid var(--bg-status-border);
  border-bottom: 3px solid var(--bg-status-border);

  display: flex;
  justify-content: space-between;
}

#status-bar .left,
#status-bar .right {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#status-bar .multiline {
  display: flex;  

  .dot {
    padding-top: 1px;
    margin-right: 4px;
  }

  .active {
    color: var(--color-string);
  }

  .inactive {
    color: inherit;
  }
}

.syntax-error {
  text-decoration: underline dotted var(--color-error);
}