#output {
  flex: 1;
  background: #40318D;
  color: #7C70DA;
  padding: 20px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: 'Pixeloid Mono', 'Courier New', monospace;
  font-size: 18px;
}

#output.error {
  color: #FF6E6E;
}

#status-bar {
  height: 30px;
  background: #1E2A4A;
  color: #B3A9FF55;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  border-top: 3px solid #0E1A3A;
  border-bottom: 3px solid #0E1A3A;

  display: flex;
  justify-content: space-between;
}

#status-bar .left,
#status-bar .right {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#status-bar .multiline {
  display: flex;  

  .dot {
    padding-top: 1px;
    margin-right: 4px;
  }

  .active {
    color: #C3E88D;
  }

  .inactive {
    color: inherit;
  }
}

.syntax-error {
  text-decoration: underline dotted #FF6E6E;
}